/* HERO */
.about-hero {
  height: 40vh;
  background: linear-gradient(
      rgba(30, 90, 200, 0.85),
      rgba(30, 90, 200, 0.85)
    ),
    url("https://images.unsplash.com/photo-1523050854058-8df90110c9f1")
      center/cover no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-hero h1 {
  font-size: 3rem;
  font-weight: bold;
}

/* ABOUT SECTION */
.about-section {
  padding: 80px 0;
}

.about-img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 14px;
}

/* MISSION & VISION */
.mission-vision {
  background: #f8f9fa;
  padding: 60px 0;
}

.mv-card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* WHY US */
.why-us {
  padding: 80px 0;
}

.why-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* STATS */
.stats-section {
  background: #2b6ded;
  color: white;
  padding: 60px 0;
}

.stats-section h2 {
  font-size: 2.5rem;
}

/* TEAM */
.team {
  padding: 80px 0;
}

.team-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.team-card img {
  width: 100px;
  margin-bottom: 15px;
}
