.hero {
  height: 90vh;
  background: url("https://images.unsplash.com/photo-1523050854058-8df90110c9f1")
    center/cover no-repeat;
}

.hero-overlay {
  height: 100%;
  background: rgba(30, 90, 200, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero h1 {
  font-size: 4rem;
  margin: 10px 0;
}

.search-box {
  display: flex;
  margin-top: 25px;
}

.search-box select,
.search-box input {
  padding: 14px;
  border: none;
  outline: none;
}

.search-box button {
  padding: 14px 30px;
  background: #ff4d4d;
  border: none;
  color: white;
  cursor: pointer;
}

/* ABOUT */
.about {
  padding: 80px 0;
}

.about img {
  width: 100%;
  border-radius: 10px;
}

.stats {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.stat {
  padding: 20px;
  color: white;
  text-align: center;
  font-weight: bold;
}

.green { background: #28a745; }
.blue { background: #007bff; }
.red { background: #dc3545; }
.yellow { background: #ffc107; }

/* WHY */
.why {
  padding: 80px 0;
  background: #f8f9fa;
}

.why img {
  width: 100%;
  border-radius: 10px;
}

/* OFFER */
.offer {
  text-align: center;
  padding: 80px 20px;
  background: #f1f5ff;
}

.offer-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  max-width: 600px;
  margin: auto;
}

.offer-form button {
  grid-column: span 2;
  padding: 14px;
  background: #2b6ded;
  color: white;
  border: none;
  cursor: pointer;
}

/* COURSES */
.courses {
  padding: 80px 20px;
  text-align: center;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.course-card {
  height: 300px;
  background: url("https://images.unsplash.com/photo-1517430816045-df4b7de1cd0a")
    center/cover no-repeat;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.course-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
}
